---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/manifests.aspx?key=<API_KEY>&status=SHIPPED
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <manifests>
          <manifest>
            <manifest_slip>
              <manifest_id>394408</manifest_id>
              <manifest_po>100167</manifest_po>
              <manifest_name>CFL (Duplicate of M393353)</manifest_name>
              <destination_warehouse id="157">Hebron, KY</destination_warehouse>
              <status>SHIPPED</status>
              <shipped_date>2018-01-11T00:00:00</shipped_date>
              <shipped_via>Freight</shipped_via>
              <tracking_no/>
              <created_date>1/30/2018 9:15 AM</created_date>
              <estimated_arrival_date>2/1/2018</estimated_arrival_date>
              <actual_arrival_date/>
              <actual_received_date/>
              <no_pallets>0</no_pallets>
              <no_cartons>23</no_cartons>
              <total_weight/>
              <notes/>
            </manifest_slip>
            <contents>
              <item>
                <sku>8084-214-H</sku>
                <upc>8084-214-H</upc>
                <description>SOFT DOLPHIN SHORT ECLIPSE</description>
                <original_qty>85</original_qty>
                <received_qty>0</received_qty>
                <variance>-85</variance>
                <damaged_qty>0</damaged_qty>
              </item>
              <item>
                <sku>8084-214-I</sku>
                <upc>8084-214-I</upc>
                <description>SOFT DOLPHIN SHORT ECLIPSE</description>
                <original_qty>105</original_qty>
                <received_qty>0</received_qty>
                <variance>-105</variance>
                <damaged_qty>0</damaged_qty>
              </item>
              <item>
                <sku>8084-214-K</sku>
                <upc>8084-214-K[...]
