---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/inventory_details.aspx?key=<API_KEY>&sku=SKU
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - text/xml
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <response>
          <inventories>
            <inventory id="325307271" type="transfer" linkedinventoryid="325307272">
              <manifestPO/>
              <shipmentID>SHIPMENT_ID</shipmentID>
              <orderID></orderID>
              <timestamp>2015-02-19T11:00:00.0</timestamp>
              <sku>SKU</sku>
              <quantity>-1</quantity>
              <reasonCode id="1">Facility Damage</reasonCode>
              <inventorytype>currentQty</inventorytype>
              <notes>Damaged by forklift</notes>
            </inventory>
          </inventories>
        </response>
  recorded_at: Thu, 07 Sep 2017 13:24:29 GMT
recorded_with: VCR 3.0.3
