---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/shipments.aspx?endReceivedTimestamp=2017-09-07&key=<API_KEY>&startReceivedTimestamp=2017-08-01
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message:
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <Shipments>
          <Shipment id="91955463">
            <ClientName>Rockets of Awesome</ClientName>
            <OrderID>R123456789</OrderID>
            <PurchaseOrder/>
            <Name>MATT MURDOCK</Name>
            <FirstName>MATT</FirstName>
            <LastName>MURDOCK</LastName>
            <Company/>
            <Address1>75 SPRING ST FL 4</Address1>
            <Address2/>
            <City>NEW YORK</City>
            <State>NY</State>
            <PostalCode>10012-4096</PostalCode>
            <Country>UNITED STATES</Country>
            <Email>matt@murdock.com</Email>
            <Phone>617 123 4567</Phone>
            <OrderTimestamp>2017-09-05T00:00:00</OrderTimestamp>
            <ReceivedTimestamp>2017-09-05T09:12:24.543</ReceivedTimestamp>
            <ShipmentStatus>CANCELED</ShipmentStatus>
            <OrderType>Consumer</OrderType>
            <ShippedDate/>
            <ExpectedDeliveryDate/>
            <DeliveredTimestamp/>
            <DeliveryException/>
            <Warehouse id="157">
              <Name>Hebron, KY</Name>
              <Address>1200 WORLDWIDE BLVD</Address>
              <City>HEBRON</City>
              <State>KY</State>
              <PostalCode>41048</PostalCode>
              <Country>US</Country>
            </Warehouse>
            <ShipMethod>Hold, Do  Not Ship</ShipMethod>
            <ShipMethodCode>HOLD</ShipMethodCode>
            <Tracking/>
            <TrackingUrl/>
            <Weight/>
            <Postage/>
            <GiftWrap>false</GiftWrap>
            <CustomFields>
              <AdditionalTax>15.0</AdditionalTax>
              <Subtotal>10.0</Subtotal>
              <Total>25.0</Total>
            </CustomFields>
            <BackorderedItems/>
            <Items>
              <Item id="1484565">
                <SKU>1007-201-G</SKU>
                <UPC>1007-201-G</UPC>
                <Description>WE ARE AWESOME TEE</Description>
                <Lot/>
                <Qty>1</Qty>
                <CustomFields/>
                <AssemblyItems/>
              </Item>
            </Items>
            <Packages/>
          </Shipment>
          <Shipment id="91955506">
            <ClientName>Rockets of Awesome</ClientName>
            <OrderID>R123456789</OrderID>
            <PurchaseOrder/>
            <Name>STEPHEN STRANGE</Name>
            <FirstName>STEPHEN</FirstName>
            <LastName>STRANGE</LastName>
            <Company/>
            <Address1>75 SPR[...]
