---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/inventory.aspx?key=<API_KEY>&sku=2010-025-E
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <products>
            <product id="1484567" sku="2010-025-E">
              <receivingQuantity>0</receivingQuantity>
              <arrivedPutAwayQuantity>0</arrivedPutAwayQuantity>
              <putawayQuantity>0</putawayQuantity>
              <quarantineQuantity>0</quarantineQuantity>
              <damagedQuantity>0</damagedQuantity>
              <expiredQuantity>0</expiredQuantity>
              <recalledQuantity>0</recalledQuantity>
              <returnsQuantity>0</returnsQuantity>
              <currentQuantity>0</currentQuantity>
              <kittingQuantity>0</kittingQuantity>
              <pendingQuantity>0</pendingQuantity>
              <availableQuantity>0</availableQuantity>
              <backorderedQuantity>0</backorderedQuantity>
            </product>
          </products>
        </response>
  recorded_at: Thu, 07 Sep 2017 13:16:17 GMT
recorded_with: VCR 3.0.3
