---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/inventory.aspx?key=<API_KEY>
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <products>
            <product id="1484565" sku="1007-201-G">
              <receivingQuantity>0</receivingQuantity>
              <arrivedPutAwayQuantity>0</arrivedPutAwayQuantity>
              <putawayQuantity>0</putawayQuantity>
              <quarantineQuantity>0</quarantineQuantity>
              <damagedQuantity>0</damagedQuantity>
              <expiredQuantity>0</expiredQuantity>
              <recalledQuantity>0</recalledQuantity>
              <returnsQuantity>0</returnsQuantity>
              <currentQuantity>0</currentQuantity>
              <kittingQuantity>0</kittingQuantity>
              <pendingQuantity>1</pendingQuantity>
              <availableQuantity>-1</availableQuantity>
              <backorderedQuantity>0</backorderedQuantity>
            </product>
            <product id="1484566" sku="1008-240-C">
              <receivingQuantity>0</receivingQuantity>
              <arrivedPutAwayQuantity>0</arrivedPutAwayQuantity>
              <putawayQuantity>0</putawayQuantity>
              <quarantineQuantity>0</quarantineQuantity>
              <damagedQuantity>0</damagedQuantity>
              <expiredQuantity>0</expiredQuantity>
              <recalledQuantity>0</recalledQuantity>
              <ret[...]
