---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/cancel_shipment.aspx?apiKey=<API_KEY>&cancelIfBackorder=true&orderID=R348258352
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <errors>
            <error>Root element is missing.</error>
          </errors>
        </response>
  recorded_at: Mon, 16 Oct 2017 14:06:09 GMT
recorded_with: VCR 3.0.3
