---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/cancel_shipment.aspx?apiKey=<API_KEY>&cancelIfBackorder=true&orderID=R684492341
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <cancelShipment apiKey="<API_KEY>" orderID="R684492341">
          <cancelIfBackorder>true</cancelIfBackorder>
        </cancelShipment>
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <success>true</success>
        </response>
  recorded_at: Mon, 16 Oct 2017 16:52:46 GMT
recorded_with: VCR 3.0.3
