---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/post_manifests.aspx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <manifests apiKey="INVALID">
          <manifest>
            <manifest_slip>
              <manifest_po>PO-00001</manifest_po>
              <manifest_name>Purchase Order 1</manifest_name>
              <warehouse_id/>
              <status>SHIPPED</status>
              <tracking_no/>
              <pallet_count/>
              <carton_count/>
              <weight/>
              <notes/>
              <ship_date>08/29/2018</ship_date>
            </manifest_slip>
            <contents/>
          </manifest>
        </manifests>
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <errors>
            <error>Invalid API key</error>
          </errors>
        </response>
  recorded_at: Wed, 29 Aug 2018 21:54:19 GMT
recorded_with: VCR 3.0.3
