---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/post_inbound_returns.aspx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <Returns apiKey="<API_KEY>">
          <Return id="91955506">
            <RMA>RA343167887</RMA>
            <Comments>Sample Comment</Comments>
            <Items>
              <Item>
                <SKU>1007-201-G</SKU>
                <Qty>1</Qty>
                <Reason>Too Big</Reason>
              </Item>
            </Items>
          </Return>
        </Returns>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <Response>
          <Returns>
            <Return ID="1754253" RMA="RA343167887" ShipmentID="91955506" OrderID="R123456789"/>
          </Returns>
          <Warnings/>
          <Errors/>
        </Response>
  recorded_at: Thu, 07 Sep 2017 13:33:28 GMT
recorded_with: VCR 3.0.3
