---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/inbound_returns.aspx?endCreatedTimestamp=2017-11-09&key=<API_KEY>&startCreatedTimestamp=2017-11-07
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <InboundReturns>
          <InboundReturn id="1799569">
            <ShipmentID>92978955</ShipmentID>
            <OrderID>R041850832</OrderID>
            <RMA>RA123456789</RMA>
            <CreateTimestamp>2017-11-08T16:58:21.817</CreateTimestamp>
            <FirstName>JENNIFER</FirstName>
            <LastName>USREY</LastName>
            <Company>ATTN: ELLA</Company>
            <Address1>10 ROCK HAVEN LN </Address1>
            <Address2/>
            <City>SIGNAL MOUNTAIN</City>
            <State>TN</State>
            <PostalCode>37377-2133</PostalCode>
            <Country>UNITED STATES</Country>
            <Email>jmusrey@yahoo.com</Email>
            <Phone/>
            <LabelUrl/>
            <SmartLabelTracking/>
            <CarrierTracking/>
            <Items>
              <Item id="1490831">
                <SKU>5257-525-P</SKU>
                <Description>SPLIT BACK ACTIVE TOP SUGAR PLUM</Description>
                <Qty>1</Qty>
                <Reason>Box Returns</Reason>
              </Item>
            </Items>
          </InboundReturn>
        </InboundReturns>
  recorded_at: Thu, 09 Nov 2017 00:00:03 GMT
recorded_with: VCR 3.0.3
