---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/update_shipment_contents.aspx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <Shipment apiKey="<API_KEY>" id="INVALID">
          <Items>
            <Item>
              <SKU>1007-201-G</SKU>
              <Qty>1</Qty>
            </Item>
          </Items>
          <AddItems>#&lt;Nokogiri::XML::Builder::NodeBuilder:0x007fb60b18f1c8&gt;</AddItems>
          <Items/>
          <RemoveItems>#&lt;Nokogiri::XML::Builder::NodeBuilder:0x007fb60b18d4b8&gt;</RemoveItems>
        </Shipment>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <errors>
            <error>Invalid shipment ID.</error>
          </errors>
        </response>
  recorded_at: Mon, 25 Sep 2017 19:11:01 GMT
recorded_with: VCR 3.0.3
