---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/update_shipment_contents.aspx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <Shipment apiKey="<API_KEY>" id="92300628">
          <AddItems>
            <Item>
              <SKU>1007-201-G</SKU>
              <Qty>1</Qty>
            </Item>
          </AddItems>
          <RemoveItems/>
        </Shipment>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <success>true</success>
        </response>
  recorded_at: Wed, 27 Sep 2017 13:58:50 GMT
recorded_with: VCR 3.0.3
