---
http_interactions:
- request:
    method: get
    uri: https://apistaging.newgisticsfulfillment.com/cancel_manifest.aspx?key=<API_KEY>&manifestId=468679
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <errors>
            <error>This manifest has already been canceled</error>
          </errors>
        </response>
  recorded_at: Thu, 25 Oct 2018 17:09:47 GMT
recorded_with: VCR 3.0.3
