---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/post_shipments.aspx
    body:
      encoding: ASCII-8BIT
      string: |
        <?xml version="1.0"?>
        <Orders apiKey="INVALID">
          <Order orderID="R987654321">
            <Warehouse warehouseid=""/>
            <ShipMethod>USPS Express</ShipMethod>
            <InfoLine>Additional order details</InfoLine>
            <RequiresSignature>false</RequiresSignature>
            <IsInsured>false</IsInsured>
            <InsuredValue/>
            <AddGiftWrap>false</AddGiftWrap>
            <GiftMessage/>
            <HoldForAllInventory>true</HoldForAllInventory>
            <OrderDate>08/20/2017</OrderDate>
            <CustomerInfo>
              <Company/>
              <FirstName>Wade</FirstName>
              <LastName>Wilson</LastName>
              <Address1>75 Spring St</Address1>
              <Address2>4th Floor</Address2>
              <City>New York</City>
              <State>NY</State>
              <Zip>10012</Zip>
              <Country>USA</Country>
              <Email>wade@wilson.com</Email>
              <Phone>617 123 4567</Phone>
              <IsResidential>false</IsResidential>
            </CustomerInfo>
            <CustomFields>
              <Subtotal>10.0</Subtotal>
              <AdditionalTax>15.0</AdditionalTax>
              <Total>25.0</Total>
            </CustomFields>
            <Items>
              <Item>
                <SKU>1007-201-G</SKU>
                <Qty>1</Qty>
                <IsGiftWrapped>false</IsGiftWrapped>
                <CustomFields/>
              </Item>
              <Item>
                <SKU>1008-240-C</SKU>
                <Qty>2</Qty>
                <IsGiftWrapped>true</IsGiftWrapped>
                <CustomFields>
                  <GiftMessage>A sample message</GiftMessage>
                </CustomFields>
              </Item>
            </Items>
          </Order>
        </Orders>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <errors>
            <error>Invalid API key</error>
          </errors>
        </response>
  recorded_at: Thu, 07 Sep 2017 13:38:21 GMT
recorded_with: VCR 3.0.3
