---
http_interactions:
- request:
    method: post
    uri: https://apistaging.newgisticsfulfillment.com/update_shipment_address.aspx
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0"?>
        <updateShipment apiKey="<API_KEY>" id="107838373">
          <FirstName/>
          <LastName/>
          <Company/>
          <Address1/>
          <Address2/>
          <City/>
          <State/>
          <PostalCode/>
          <Country/>
          <Email/>
          <Phone/>
          <Fax/>
          <IsResidential/>
          <Status>ONHOLD</Status>
          <StatusNotes/>
          <ShipMethod/>
        </updateShipment>
    headers:
  response:
    status:
      code: 200
      message: 
    headers:
      content-type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <?xml version="1.0" encoding="utf-8"?>
        <response>
          <success>true</success>
        </response>
  recorded_at: Wed, 29 May 2019 01:17:59 GMT
recorded_with: VCR 3.0.3
